/* External CSS */

/* Not Inheritance, its just applied to everything */
* {
  /* border-top: 5px solid #1098ad; */
  margin:  0;
  padding: 0;
}

/* Inheritance */
body {
  color: #444;
  font-family: sans-serif;
  border-top: 10px solid #1098ad;
  /* margin not inherited */
  margin: 0;
  position: relative;
}

.container {
  width: 800px;
  /* margin-left: auto;
  margin-right: auto; */
  margin: 0 auto;
}

h1, h2, h3, h4, p, li {
  font-family: sans-serif;
  color: #444
}

h1,h2,h3{
  color: #1098ad;
}

h1 {
  /* color: blue; */
  /* color: #1098ad; */
  font-size: 26px;
  /* font-family: sans-serif; */
  text-transform: uppercase;
  font-style: italic;
}

h2 {
  font-size: 40px;
  /* font-family: sans-serif; */
  margin-bottom: 30px;
  position: relative;
}

h2::after {
  content: "TOP";
  background-color: #ffe70e;
  color: #444;
  font-size: 16px;
  font-weight: bold;
  /* Pseudo Elements are inline elements by default */
  display: inline-block;
  padding: 5px 10px;
  position: absolute;
  top: -15px;
  right: -25px;
}

p {
  font-size: 22px;
  /* font-family: sans-serif; */
  line-height: 1.5;
  margin-bottom: 15px;
}

h3 {
  font-size: 30px;
  /* font-family: sans-serif; */
  margin-bottom: 20px;
  margin-top: 40px;
}

h4 {
  font-size: 20px;
  /* font-family: sans-serif; */
  text-transform: uppercase;
  text-align: center;
}

ul,ol {
  margin-left: 50px;
}

li {
  /* font-family: sans-serif; */
  font-size: 20px;
  margin-bottom: 10px;
}

/* descendant selector */
/* footer p {
font-size: 16px;
} */

#copyright {
  font-size: 16px;
}


/* article header p {
  font-style: italic;
} */

/* using ID instead of descendant selector */
#author {
  font-style: italic;
  font-size: 18px;
}

.related-author {
  font-size: 18px;
  font-weight: bold;
}

.related {
  list-style: none;
}

.main-header {
  background-color: #f7f7f7;
  /* padding: 20px;
  padding-left: 40px;
  padding-right: 40px; */
  padding: 20px 40px;
  margin-bottom: 60px;
  height: 80px;
}

.post-header {
  margin-bottom: 40px;
}

article {
  margin-bottom: 60px;
}

aside {
  background-color: #f7f7f7;
  border-top: 5px solid #1098ad;
  border-bottom: 5px solid #1098ad;
  /* padding-top: 50px;
  padding-bottom: 50px; */
  padding: 50px 0px;
  width: 500px;
}

/* Sudo Class */
li:first-child {
  font-weight: bold;
}

li:last-child {
  font-style: italic;
  margin-bottom: 0;
}

/* li:nth-child(2) {
  color: red;
}

li:nth-child(odd) {
  color: orange;
} */

/* This would only work if there was a p element thats the first element child of article */
/* article p:first-child {

} */

/* targets a elements with the href attribute */
a:link {
  color: #1098ad;
  text-decoration: none;
}

/* links that have been clicked */
a:visited {
  color: #1098ad;
}

a:hover {
  color:orangered;
  font-weight: bold;
  /* text-decoration: underline dotted orange; */
  text-decoration: underline orange;
}

a:active {
  background-color: black;
  font-style: italic;
}

.post-img {
  /* the % is of the parent container */
  width: 100%;
  height: auto;
}

nav a:link {
  font-size: 18px;
  margin-right: 30px;
  margin-top: 10px;
  display: inline-block;
}

/* concatenated pseudo class */
nav a:link:last-child {
  margin-right: 0;
}

button {
  font-size: 22px;
  padding: 20px;
  cursor: pointer;
  position: absolute;
  bottom: 50px;
  right: 50px;
}